.slider-wrapper {
    width: 100%;
    height: 100vh;
    img {
        width: 100%;
        height: 100%;
    }
}

.picsum-img-wrapper {
    width: 100vw;
    height: 100vh;
}

.slider {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: 'Tajawal', sans-serif;
    text-align: right;
}

video {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.carousel-inner {
    height: 100vh;
    width: 100%;
}

.carousel-caption {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    direction: rtl;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline-end: 30px;
    color: #fff;
    overflow: hidden;
    span {
        width: 50px;
        height: 10px;
        background-color: #dcc69d;
        position: absolute;
    }
    .udesly-typewriter-effect {
        font-size: 30px;
    }
    .v-sub-title {
        font-size: 3vw;
        color: #fff;
        text-align: center;
    }
    .v-title {
        padding-bottom: 20px;
        font-size: 5.5vw;
        color: #fff;
        font-weight: 400;
    }
    .about-block {
        width: 100%;
    }
    .about-pic-lyer {
        position: static;
    }
    .pic-block {
        display: none;
        width: 100%;
        height: 100vh;
    }
    .icon-2 {
        color: #fff;
        font-size: 30px;
    }
}

@media screen and (max-width: 1130px) {
    .container.sld {
        right: 236px;
    }
    .slider-wrapper {
        width: 100%;
        height: 100vh;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .picsum-img-wrapper {
        width: 100vw;
        height: 100vh;
    }
    .slider {
        width: 100vw;
        height: 100vh;
        position: relative;
        font-family: 'Tajawal', sans-serif;
        text-align: right;
    }
    video {
        width: 100vw;
    }
    .carousel-inner {
        height: 100vh;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .container.sld {
        width: 450px;
        transform: translateX(50%);
        right: 50%;
        line-height: 85px;
    }
    .v-sub-title {
        font-size: 20px !important;
        line-height: 30px !important;
        text-align: center;
    }
    .v-title {
        font-size: 30px !important;
        // line-height: 30px !important;
    }
    .udesly-typewriter-effect {
        font-size: 18px !important;
    }
    .slider-wrapper {
        width: 100%;
        height: 100vh;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .picsum-img-wrapper {
        width: 100vw;
        height: 100vh;
    }
    .slider {
        width: 100vw;
        height: 100vh;
        position: relative;
        font-family: 'Tajawal', sans-serif;
        text-align: right;
    }
    video {
        width: 100vw;
    }
    .carousel-inner {
        height: 100vh;
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .container.sld {
        right: 12%;
    }
    .slider-wrapper {
        width: 100%;
        height: 100vh;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .picsum-img-wrapper {
        width: 100vw;
        height: 100vh;
    }
    .slider {
        width: 100vw;
        height: 100vh;
        position: relative;
        font-family: 'Tajawal', sans-serif;
        text-align: right;
    }
    video {
        width: 100vw;
    }
    .carousel-inner {
        height: 100vh;
        width: 100%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 470px) {
    .container.sld {
        right: 30%;
    }
    .slider-wrapper {
        width: 100%;
        height: 100vh;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .picsum-img-wrapper {
        width: 100vw;
        height: 100vh;
    }
    .slider {
        width: 100vw;
        height: 100vh;
        position: relative;
        font-family: 'Tajawal', sans-serif;
        text-align: right;
    }
    video {
        width: 100vw;
    }
    .carousel-inner {
        height: 100vh;
        width: 100%;
    }
}

@media only screen and (min-width: 390px) and (max-width: 470px) {
    .container.sld {
        right: 40%;
    }
}

// ========================================
@media( max-width:991px) {
    .slider-wrapper {
        width: 100%;
        height: 100vh;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .picsum-img-wrapper {
        width: 100vw;
        height: 100vh;
    }
    .slider {
        width: 100vw;
        height: 100vh;
        position: relative;
        font-family: 'Tajawal', sans-serif;
        text-align: right;
    }
    video {
        width: 100vw;
    }
    .carousel-inner {
        height: 100vh;
        width: 100%;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    position: absolute;
    margin-top: 100px;
}

.carousel-control-prev-icon {
    left: 40px;
}

.carousel-control-next-icon {
    right: 40px;
}


/* DEMO-SPECIFIC STYLES */

.typewriter h3 {
    color: #fff;
    font-family: 'Tajawal', sans-serif;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #dcc69d;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    // letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s 2s steps(30, end) infinite, blink-caret .5s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #dcc69d
    }
}

.srow {
    width: fit-content;
    height: auto;
    direction: rtl;
    text-align: right;
    white-space: nowrap;
}

//
.anime-hide-text {
    width: fit-content;
    height: fit-content;
    // overflow: hidden;
    transform: scale(.5);
}

.bg-anime {
    animation: show 10.2s ease 1 forwards;
    -moz-animation: show 10.2s ease 1 forwards;
    -webkit-animation: show 10.2s 1 ease forwards;
    -o-animation: show 10.2s ease 1 forwards;
}

@-webkit-keyframes show
/* Safari and Chrome */

{
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//mobile
@media screen and (max-width: 480px) {
    .anime-hide-text {
        translate: -23% 80%;
    }
}

// tablet
@media only screen and (min-width: 481px) and (max-width: 1200px) {
    .anime-hide-text {
        translate: 5% 80%;
    }
}

//pc
@media screen and (min-width:1201px) {
    .anime-hide-text {
        translate: 10% 80%;
    }
}