.service-information {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 60%;
    row-gap: 2rem;
    .service-image {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        img {
            width: 100%;
            border-radius: 1rem;
            max-height: 20em;
            object-fit: cover;
        }
    }
    .service-description {
        display: flex;
        flex-direction: row-reverse;
        flex-grow: 1;
        span {
            text-align: right;
            color: #76777A;
            font-size: 12pt;
            line-height: 2;
        }
    }
}

.service-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 35%;
    row-gap: 2rem;
    .service-card-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;
        a {
            background-color: #dcc69d;
            height: 45px;
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            color: white;
            text-decoration: none;
            border-radius: 0.2rem;
            font-size: 13pt;
            flex-grow: 1;
            z-index: 10;
            span {
                text-align: center;
            }
            img {
                width: 1.7rem;
                color: white;
            }
        }
    }
    .service-card-container {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        background: #01273e;
        border-radius: 0.3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        .service-card-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            flex-grow: 1;
            align-items: flex-end;
            row-gap: 0.7rem;
            margin-bottom: 0.7rem;
            .service-card-title {
                display: flex;
                flex-direction: row-reverse;
                color: #dcc69d;
                flex-grow: 1;
                flex-basis: 2rem;
                align-self: stretch;
                font-size: 12pt;
                font-weight: bold;
                border-bottom: 1px solid #dcc69d;
                align-items: center;
                justify-content: center;
            }
            .service-card-item {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: flex-start;
                flex-grow: 1;
                column-gap: 0.5rem;
                text-align: right;
                align-self: stretch;
                .service-card-item-title {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    color: #dcc69d;
                    font-size: 10pt;
                    flex-shrink: 0;
                    flex-basis: 120px;
                    flex-grow: 0;
                    font-weight: bold;
                }
                .service-card-item-text {
                    display: flex;
                    flex-direction: column;
                    color: #ffffff;
                    font-size: 10pt;
                }
            }
        }
    }
}