<div class="saudia-bg">
    <div class="container sda-container mt-4">
        <div class="row text-end mt-h">
            <h1 class="gold">{{configParam.geoSpatial.applicationCatalogue.title}}</h1>
            <h5 class="gold">{{configParam.geoSpatial.applicationCatalogue.subTitle}}</h5>
        </div>
    </div>
    <div class="w-100 mt-5 mb-5" *ngIf="data">
        <div class="keen-slider" #sliderRef  >
            <div class="keen-slider__slide" [ngClass]="'number-slide'+(i+1)" *ngFor="let app of data.applicationList; index as i;">
                <figure class="shape-box shape-box_half" (mouseenter)="pauseSlider()" (mouseleave)="resumeSlider()">
                    <img [src]="configParam.geoSpatial.applicationCatalogue.cardImage" alt="">
                    <!-- <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div> -->
                    <figcaption>
                        <div class="show-cont">
                            <!-- <h3 class="card-no">{{i+1}}</h3> -->
                            <div>
                                <img [src]="app.icon" width="70" alt="">
                            </div>
                            <h4 class="card-main-title">{{configParam.isCurrentLanguageArabic?app.name_Ar :app.name_En }}</h4>
                        </div>
                        <p class="card-content">{{configParam.isCurrentLanguageArabic?app.description_Ar :app.description_En }}</p>
                        <div class="d-flex justify-content-center">

                            <a [href]="!config?.isUserCanAccessPortal?config?.userCantAccessPage:app.url"     class="read-more-btn mx-2" target="_blank">{{configParam.geoSpatial.applicationCatalogue.buttonText}}</a>
                            <a class="read-more-btn mx-2" [href]="app.aboutURL" target="_blank">{{configParam.geoSpatial.applicationCatalogue.aboutURLText}}</a>
                        </div>

                    </figcaption>
                    <span class="after"></span>
                </figure>
            </div>
        </div>
    </div>
