<!-- <div class="wrapper-bg">
    <div class="container sda-container">
        <div class="row">
            <div class="col-md-12 mt">
                <h1>مكتبة التطبيقات</h1>
            </div>
        </div>
    </div>
    <div class="w-100">
        <div class="keen-slider" #sliderRef>
            <div class="keen-slider__slide number-slide1">
                <div class="app">
                    <div class="text-center">
                        <img src="assets/Urban-Observatory/Applications/icon-pie.png" width="240" alt="">
                    </div>
                    <h5 class="text-center front-color">اسم التطبيق</h5>
                    <div class="open">

                        <p>وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم
                            الضغط على </p>
                        <div class="text-center">
                            <a class="btn-alpha">عرض التطبيق</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="keen-slider__slide number-slide1">
                <div class="app">
                    <div class="text-center">
                        <img src="assets/Urban-Observatory/Applications/icon-colmn.png" width="240" alt="">
                    </div>
                    <h5 class="text-center front-color">اسم التطبيق</h5>
                    <div class="open">

                        <p>وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم
                            الضغط على </p>
                        <div class="text-center">
                            <a class="btn-alpha">عرض التطبيق</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="keen-slider__slide number-slide1">
                <div class="app">
                    <div class="text-center">
                        <img src="assets/Urban-Observatory/Applications/icon.png" width="240" alt="">
                    </div>
                    <h5 class="text-center front-color">اسم التطبيق</h5>
                    <div class="open">

                        <p>وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم
                            الضغط على </p>
                        <div class="text-center">
                            <a class="btn-alpha">عرض التطبيق</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="keen-slider__slide number-slide1">
                <div class="app">
                    <div class="text-center">
                        <img src="assets/Urban-Observatory/Applications/icon-pie.png" width="240" alt="">
                    </div>
                    <h5 class="text-center front-color">اسم التطبيق</h5>
                    <div class="open">

                        <p>وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم
                            الضغط على </p>
                        <div class="text-center">
                            <a class="btn-alpha">عرض التطبيق</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="keen-slider__slide number-slide1">
                <div class="app">
                    <div class="text-center">
                        <img src="assets/Urban-Observatory/Applications/icon-colmn.png" width="240" alt="">
                    </div>
                    <h5 class="text-center front-color">اسم التطبيق</h5>
                    <div class="open">

                        <p>وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم
                            الضغط على </p>
                        <div class="text-center">
                            <a class="btn-alpha">عرض التطبيق</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
