<div class="wrapper-bg">
    <div class="container sda-container">
        <div class="row">
            <div class="col-md-12" style="margin-top: 10%;">
                <h1 class="gold">مكتبة الدراسات و الوثائق</h1>
            </div>
        </div>
    </div>
    <div class="w-100 mb-5" (mouseleave)="continueSlider();">
        <div class="keen-slider" #sliderRef>
            <div class="keen-slider__slide number-slide1" (mouseover)="pauseSlider();">
                <div class="card">
                    <div class="img">
                        <img src="assets/Urban-Observatory/Studies/app-one.jpg" class="w-100" alt="">
                    </div>
                    <div class="top-card">
                        <h5>اسم الدراسة</h5>
                        <p>وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم
                            الضغط على </p>
                        <div class="text-center">
                            <a class="btn-alpha">عرض الدراسة</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="keen-slider__slide number-slide1" (mouseover)="pauseSlider();">
                <div class="card">
                    <div class="img">
                        <img src="assets/Urban-Observatory/Studies/app-one.jpg" class="w-100" alt="">
                    </div>
                    <div class="top-card">
                        <h5>اسم الدراسة</h5>
                        <p>وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم
                            الضغط على </p>
                        <div class="text-center">
                            <a class="btn-alpha">عرض الدراسة</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="keen-slider__slide number-slide1" (mouseover)="pauseSlider();">
                <div class="card">
                    <div class="img">
                        <img src="assets/Urban-Observatory/Studies/app-one.jpg" class="w-100" alt="">
                    </div>
                    <div class="top-card">
                        <h5>اسم الدراسة</h5>
                        <p>وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم
                            الضغط على </p>
                        <div class="text-center">
                            <a class="btn-alpha">عرض الدراسة</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="keen-slider__slide number-slide1" (mouseover)="pauseSlider();">
                <div class="card">
                    <div class="img">
                        <img src="assets/Urban-Observatory/Studies/app-one.jpg" class="w-100" alt="">
                    </div>
                    <div class="top-card">
                        <h5>اسم الدراسة</h5>
                        <p>وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم
                            الضغط على </p>
                        <div class="text-center">
                            <a class="btn-alpha">عرض الدراسة</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="keen-slider__slide number-slide1" (mouseover)="pauseSlider();">
                <div class="card">
                    <div class="img">
                        <img src="assets/Urban-Observatory/Studies/app-one.jpg" class="w-100" alt="">
                    </div>
                    <div class="top-card">
                        <h5>اسم الدراسة</h5>
                        <p>وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم
                            الضغط على </p>
                        <div class="text-center">
                            <a class="btn-alpha">عرض الدراسة</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="keen-slider__slide number-slide1" (mouseover)="pauseSlider();">
                <div class="card">
                    <div class="img">
                        <img src="assets/Urban-Observatory/Studies/app-one.jpg" class="w-100" alt="">
                    </div>
                    <div class="top-card">
                        <h5>اسم الدراسة</h5>
                        <p>وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم الضغط على وصف التطبيق يضاف هنا حيث يقوم المستخدم بقرائة هذا الجزء من الموقع ثم
                            الضغط على </p>
                        <div class="text-center">
                            <a class="btn-alpha">عرض الدراسة</a>
                        </div>
                    </div>
                </div>
            </div>







        </div>
    </div>


</div>
